@import "./media";

html,
body {
  margin: 0;
  height: 100%;

  & > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    box-sizing: border-box;

    @include s {
      padding: 0;
    }

    .app {
      height: 100%;
      min-width: 768px;
      width: 100%;
      box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.294);
      background-color: rgba(15, 39, 66, 0.805);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;

      @include s {
        min-width: 100%;
      }
    }
  }
}
